<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.kinetics.prism" android:versionCode="1" android:versionName="andromeda" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
	<application android:debuggable="true" android:label="Priscm" android:icon="@drawable/ic_launcher"></application>
</manifest>